body {
  margin: 10px;
}

.bold {
  font-weight: bold;
}

article {
  text-align: center;
  color: #222;
  text-indent: 20px;
  white-space: pre;
}

/*
Challenge:
Navigate to the Stack Overflow question and pick a 
few inherited CSS properties. Add them to the article
tag to see how they work.
*/