/* 
Challenge:
Re-design the cookie widget!
PS: Make sure you change ALL of the listed CSS properties.
*/



body {
  background: greenyellow;
  color: gray;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
}