/* 
Challenge:
Re-design the cookie widget!
PS: Make sure you change ALL of the listed CSS properties.
*/



body {
  background: #8B4513;
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}